<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Praxisbörse HsKA</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
                    <ul class="dropdown-menu list-inline" onclick="event.stopPropagation();">
                        <li>
                            <input class="form-control" type="text" name="input_izaccount" placeholder="IZ-Account">
                        </li>
                        <li>
                            <input class="form-control" type="text" name="input_password" placeholder="Passwort">
                        </li>
                        <li>
                            <a href="#showList"><span class="glyphicon glyphicon-menu-right"></span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<hr>

<div class="container">
    <div class="column">
        <div class="row">
            <h2>Herzlich Willkommen!</h2>
            <p>Das ist die Praxisbörse der Hochschule Karlsruhe für Technik und Wirtschaft. Bitte loggen Sie sich mit Ihrem IZ-Account ein, um das Portal nutzen zu können.</p>
        </div>
    </div>
</div> <!-- /container -->