<span ng-controller="viewController">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" id="navbar_toggle" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="glyphicon glyphicon-chevron-down" style="color: #fff;"></span>
                </button>
                <a href="#" class="navbar-brand">Praxisb&ouml;rse HsKA</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">

                    <!-- Login -->
                    <div ng-if="showNavbarLogin">
                        <div class="form-group">
                            <input class="form-control" type="text" name="input_izaccount" placeholder="IZ-Account" ng-model="model.username">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="input_password" placeholder="Passwort" ng-model="model.password">
                        </div>
                        <div class="form-group">
                            <button ng-click="login()" type="submit" class="btn btn-success">Login</button>
                        </div>
                    </div>

                    <!-- Filter -->
                    <div ng-if="showNavbarFilter" class="form-group">
                        <div class="form-group">
                            <select class="form-control">
                                <option>Alle Angebotsarten</option>
                                <option>Praxissemester</option>
                                <option>Bachelorarbeit</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control">
                                <option>Alle Standorte</option>
                                <option>Deutschland</option>
                                <option>USA</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="input_suche" placeholder="Suche">
                        </div>
                        <div class="form-group">
                            <button ng-click="filter()" type="submit" class="btn btn-success">Filter</button>
                        </div>
                    </div>

                    <!-- Logout -->
                    <div ng-if="showNavbarLogout" class="form-group">
                        <div class="form-group">
                            <button ng-click="logout()" type="submit" class="btn btn-success">Logout</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <!-- Welcome message -->
    <div ng-if="showContentWelcome" class="jumbotron">
        <div class="container">
            <h2>Herzlich Willkommen!</h2>
            <p>Das ist die Praxisb&ouml;rse der Hochschule Karlsruhe f&uuml;r Technik und Wirtschaft. Bitte loggen Sie sich mit Ihrem IZ-Account ein, um das Portal nutzen zu k&ouml;nnen.</p>
        </div>
    </div>

    <!-- Job list -->
    <div ng-if="showContentList" class="container">
        <div class="column" ng-repeat="x in jobs" ng-init="jobs">
            <div class="row">
                <h2> {{ x.id }}</h2>
                <p>{{ x.contact }}</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>
    </div>

</span>